.amenities .tag {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 8px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 11px;
    font-weight: 500;
    color: #fff;
}

.visitante .amenities .tag {
    filter: blur(4px);
    user-select: none;
}
